// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #5e698f;
$TASK_ITEM_TITLE: #4f566f;

$POINT: #171a3b;
$FOCUS: #324272;
$BACKGROUND: #f3f3fb;
$SUB_BACKGROUND: #eceeff;
$SUB_TITLE: #c2c2d1;
$INPUT_BORDER: #d1daef;
$SELECT: #ebedfd;
$PLACEHOLDER: #c6cbda;

$DARK_BACKGROUND: #1e1f21;
$DARK_CALENDARBGC: #2c2d30;
$DARK_BORDER: #3a3b3d;
$DARK_CATEGORY: #bfc7e6;
